// CLASS DEFAULTS ----------------------------------------------------------------------------------

@use "./variables"as v;

.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  max-width: v.$width-container;
}

section {
  padding: v.$section-padding 0;
}

.fade-in {
  opacity: 0;
  transform: translateY(5rem);
  transition: transform 0.7s ease-in, opacity 0.8s ease-in,
    background-color 0.5s ease-in-out;

  &.appear {
    opacity: 1;
    transform: translateY(0);
  }
}